:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --app-max-width: 800px;
  --app-color-primary: #ed1d1c;
  --app-color-secondary: #fdf7dd;
}

body {
  padding: 0;
  margin: 0;
}
